<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UberTesters.UploadAPI.BusinessLogic.DLL_netfx4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <UberTesters.UploadAPI.BusinessLogic.DLL_netfx4.Properties.Settings>
      <setting name="PackagePathFolder" serializeAs="String">
        <value>..\..\..\bundles\</value>
      </setting>
      <setting name="PackagePathFile" serializeAs="String">
        <value>Ubertesters.Application.XamarinAndroid-Signed.apk</value>
      </setting>
      <setting name="UrlUberTesters" serializeAs="String">
        <value>http://beta.ubertesters.com/api/client/upload_build.json</value>
      </setting>
      <setting name="UberTestersAPIKey" serializeAs="String">
        <value>dc329630b72d0131170722000ac44c54</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value />
      </setting>
      <setting name="Notes" serializeAs="String">
        <value />
      </setting>
      <setting name="Status" serializeAs="String">
        <value>in_progress</value>
      </setting>
      <setting name="StopPrevious" serializeAs="String">
        <value>true</value>
      </setting>
    </UberTesters.UploadAPI.BusinessLogic.DLL_netfx4.Properties.Settings>
  </userSettings>
</configuration>